DB_USERNAME = admin
DB_PASSWORD = admin
DB_HOST = 127.0.0.1
DB_PORT = 3307
DB_DATABASE = tg
SQLALCHEMY_POOL_SIZE = 10
NOSTR_PRIV_KEY = nsec1ufnus6pju578ste3v90xd5m2decpuzpql2295m3sknqcjzyys9ls0qlc85
NOSTR_RELAY_URIS = wss://relay.damus.io
MIRCRO_SERVER_URL= 
SERVICE_ID= 500 # Change to real service id